  <p>
    <h2>Pregunta: </h2>
    <h3><%= @question.text %></h3>
  </p>

  <% content_for :input do %>
  <div>
  <%= form_tag("/questions", method: "get") do %>
          <%= label_tag(:title, "") %>
          <%= text_field_tag(:title) %>
        <% end %>
  </div>
  <%end%>

  <% content_for :image do %>
  <div>
    <%=image_tag(@map, alt: "Example Image", size: "250x170")%>
  </div>
  <%end%>
