<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
 
  
  <p>
    <h2 class="titulo-pregunta">Pregunta: </h2>
    <h3 class="texto-pregunta"><%= @question.text %></h3>
  </p>

  <% content_for :input do %>
  <div class="zona-input">
  <%= form_tag("/questions", method: "get", class: "form") do %>
          <%= label_tag(:title, "") %>
          <%= text_field_tag :title ,"",class: "input"%>
          <%= hidden_field_tag :id, @question.id %>
        <% end %>
  </div>
  <%end%>
